# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Database & Logs
instance/*.log
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
